@mixin transition-effect($time) {
	transition: all ease-in-out $time;
}

@mixin transition-cubic-bezier($time) {
	transition: all $time cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin transition-linear($time) {
	transition: all $time $time linear;
}

@mixin opacity($opacity) {
	opacity: $opacity;
}
