/* NGCon Israel Website Stylesheet */
body {
  font-family: 'Open Sans', sans-serif; }

nav.header-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  nav.header-section .container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 2; }
    nav.header-section .container .ng-conf-title {
      float: left; }
      nav.header-section .container .ng-conf-title h1 {
        color: white;
        font-size: 32px;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        margin: 0; }
      nav.header-section .container .ng-conf-title h3 {
        color: white;
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        margin-left: 24px; }
    nav.header-section .container .get-ticket {
      float: right; }
      nav.header-section .container .get-ticket a {
        margin-top: 4px;
        background-color: #d84437;
        border-color: #d84437;
        text-transform: uppercase;
        color: white;
        padding: 8px 14px;
        font-weight: bold; }
        nav.header-section .container .get-ticket a:hover {
          color: #af362c;
          border-color: #af362c;
          background-color: white; }
    nav.header-section .container .social-network {
      display: none;
      float: right;
      height: 60px;
      padding: 10px;
      width: 120px; }
      nav.header-section .container .social-network ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0; }
        nav.header-section .container .social-network ul li a {
          color: white;
          text-decoration: none;
          padding: 8px;
          display: inline-block; }
          nav.header-section .container .social-network ul li a:hover {
            color: #d84437; }
          nav.header-section .container .social-network ul li a .fa {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
  nav.header-section .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #333;
    z-index: 1; }

.section {
  padding: 100px; }
  .section .row {
    margin-bottom: 50px; }
  .section .title {
    text-align: center;
    text-transform: uppercase;
    color: #d84437;
    margin-bottom: 50px; }
    .section .title.text-left {
      text-align: left; }
  .section .btn-tickets {
    margin-top: 50px;
    background-color: #d84437;
    border-color: #d84437;
    text-transform: uppercase;
    color: white;
    padding: 20px 30px;
    font-weight: bold; }
    .section .btn-tickets:hover {
      color: #af362c;
      border-color: #af362c;
      background-color: white; }
  .section.hero {
    position: relative;
    height: 611px;
    background: #333;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden; }
    .section.hero .content {
      margin: 200px auto 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .section.hero .content h2 {
        color: #e6e6e6;
        margin-bottom: 62px;
        font-size: 82px; }
        .section.hero .content h2 small {
          display: block;
          font-weight: bold;
          text-align: right;
          font-size: 22px;
          margin: 0 auto;
          width: 280px; }
      .section.hero .content img {
        margin-right: 32px; }
    .section.hero video {
      visibility: inherit;
      display: inline-block;
      vertical-align: baseline;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.3; }
  .section.speakers {
    text-align: center; }
    .section.speakers .row {
      position: relative; }
      .section.speakers .row .speaker {
        display: inline-block;
        width: 160px;
        margin-right: 30px;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s; }
        .section.speakers .row .speaker .speaker-bio {
          pointer-events: none;
          position: absolute;
          left: 50px;
          background: white;
          top: 270px;
          height: 250px;
          width: 100%;
          font-size: 18px;
          text-align: left;
          overflow: hidden;
          z-index: 20;
          -webkit-transition: opacity 0.8s;
          transition: opacity 0.8s;
          opacity: 0; }
        .section.speakers .row .speaker:hover {
          opacity: 1 !important;
          z-index: 10; }
          .section.speakers .row .speaker:hover .speaker-bio {
            opacity: 1; }
      .section.speakers .row + .row .speaker .speaker-bio {
        top: -280px; }
  .section.ng-coding h3 {
    text-align: center;
    margin-bottom: 32px; }
  .section.ng-coding p {
    font-size: 20px;
    margin: 20px 0; }
  .section.schedule .shared-session {
    text-align: center; }
    .section.schedule .shared-session .event {
      color: #c0c0c0; }
    .section.schedule .shared-session.highlight {
      background: #e6e6e6; }
      .section.schedule .shared-session.highlight .event {
        font-weight: bold;
        color: #d84437; }
      .section.schedule .shared-session.highlight .speaker {
        color: #333; }
  .section.schedule .event {
    color: #d84437; }
  .section.schedule .speaker {
    font-weight: bold;
    text-transform: uppercase; }
  .section .sponsor {
    font-size: 65px;
    padding: 0 40px;
    min-width: 330px;
    display: inline-block;
    color: #7ac0c4; }
    .section .sponsor:hover {
      color: #ccc; }
  .section .lead {
    font-weight: 100;
    font-size: 16px;
    line-height: 2em; }
  .section .ps {
    margin-top: 50px; }
  .section .social-links a {
    color: #595A9D;
    font-size: 20px; }
  .section.footer {
    padding: 50px 100px; }
    .section.footer .row {
      margin-bottom: 0; }
    .section.footer a {
      color: white;
      color: #7ac0c4; }
    .section.footer .social-icons a {
      font-size: 20px;
      color: white; }
  .section.dark {
    background-color: #333;
    color: white; }
    .section.dark .title {
      color: white; }
    .section.dark .table > thead > tr > th, .section.dark .table > tbody > tr > td {
      border-color: white;
      vertical-align: middle; }
    .section.dark .social-link a {
      color: white; }
